<script>
var xTriggered = 0;
$("#target").keypress(function(event) {
    if ( event.which == 13 ){
      event.preventDefault();
    }
    xTriggered++;
    var msg = "Handler for .keypress() called " + xTriggered + " time(s).";
    console.log( msg );
    console.log( event );
});

$("#other").click(function() {
  $("#target").keypress();
});
</script>

<div id="wrapper">
	<header align="center">
		<h1>TEDx Instant</h1>
	</header>
  	<div id="content" align="center">
  		<form>
  		  <fieldset>
  		    <input id="target" type="text" value="" />
  		  </fieldset>
  		</form>
      <div class="tedxinstant">
        <div class="title">

        </div>
        <div class="play">
  	  	  
        </div>
        <div class="description">

        </div>
      </div>
  	</div>
</div>