<script>
var xTriggered = 0;
$("#target").keypress(function(event) {
    if ( event.which == 13 ){
      event.preventDefault();
    }
    xTriggered++;
    var msg = "Handler for .keypress() called " + xTriggered + " time(s).";
    console.log( msg );
    console.log( event );
});

$("#other").click(function() {
  $("#target").keypress();
});
</script>

<div id="wrapper">
	<header align="center">
    <img src="/img/tedx.png" width="300" height"400">
    <h1>Instant</h1>

	</header>
  	<div id="content" align="center">
      <div class="search-query">
    		<form>
    		    <input id="target" type="text" value="" />
    		</form>
      </div>
      <div class="tedxinstant">
        <div class="title">

        </div>
        <div class="play">
  	  	  <iframe id="ytplayer" type="text/html" width="640" height="360"
          src="http://www.youtube.com/embed/Zhawgd0REhA"
          frameborder="0" allowfullscreen>
        </div>
        <div class="description">

        </div>
      </div>
  	</div>
</div>