<div align="center">
  <form><input id="target" class="search-query" type="text" value="So, what do you want to learn about today?" onFocus="this.value=''" /></form>
</div>

<div class="description" id="title">
    <h2>TEDx: In 7 Months...</h2>
</div>

<div id="video" class="description">
  <!-- This below div is updated through loadvideo -->
  <span id="left">
    <table>
      <tr>I</tr>
      <tr>Love</tr>
      <tr>Gaurav</tr>
    </table>
  </span>
  <span id="play" class="description"></span>
  <span id="right">
    <table>
      <tr>Gaurav</tr>
      <tr>loves</tr>
      <tr>You</tr>
    </table>
  </span>
</div>
<!-- <div class="description" id="play">
  <object type="application/x-shockwave-flash" id="ytPlayer" allowfullscreen="true" data="http://www.youtube.com/v/zf2F0c9R4Mc&amp;enablejsapi=1&amp;autoplay=1&amp;egm=0&amp;loop=0&amp;fs=1&amp;hd=0&amp;showsearch=0&amp;showinfo=1&amp;iv_load_policy=3&amp;cc_load_policy=1" width="700" height="380"></object>
</div> -->

<div class="description" id="description">
  <p>This video highlights the progress TEDx has made over the past 7 months and was shown at TEDIndia in Mysore, India on November 4, 2009.</p>
</div>
