<div align="center">
  <form><input id="target" class="search-query" type="text" value="So, what do you want to learn about today?" onFocus="this.value=''" /></form>
</div>

<div class="description" id="title">
    <h2>TEDx: In 7 Months...</h2>
</div>

<div id="video" class="description">
  <!-- This below div is updated through loadvideo -->
  <div id="left">
    <table>
      <tr id="1"><td>TEDxNUS - Debunking myths about evolution<img src="http://img.youtube.com/vi/KvpQ5Lyah50/2.jpg"></td></tr>
      <tr id="2"><td>TEDxFruitvale - Joann Lo - Organizing the Workers in the ...<img src="http://img.youtube.com/vi/LccdxulYVuY/2.jpg"></td></tr>
      <tr id="3"><td>TEDxBerkeley - Carl Bass - The New Rules of Innovation<img src="http://img.youtube.com/vi/YKV3rhzvaC8/2.jpg"></td></tr>
    </table>
  </div>
  <div id="play" class="description"></div>
  <div id="right">
    <table>
      <tr id="3"><td>TEDxGateway - Raghava KK - Meet one of most remarkable people the world..<img src="http://img.youtube.com/vi/FAbGbaLGJBw/2.jpg"></td></tr>
      <tr id="5"><td>TEDxTokyo Jake Shimabukuro<img src="http://img.youtube.com/vi/NVb-_14ZXeE/2.jpg"></td></tr>
      <tr id="6"><td>TEDxEuston - Moky Makura - Finding African Stories<img src="http://img.youtube.com/vi/EDLWWP8N6MU/2.jpg"></td></tr>
    </table>
  </div>
</div>
<!-- <div class="description" id="play">
  <object type="application/x-shockwave-flash" id="ytPlayer" allowfullscreen="true" data="http://www.youtube.com/v/zf2F0c9R4Mc&amp;enablejsapi=1&amp;autoplay=1&amp;egm=0&amp;loop=0&amp;fs=1&amp;hd=0&amp;showsearch=0&amp;showinfo=1&amp;iv_load_policy=3&amp;cc_load_policy=1" width="700" height="380"></object>
</div> -->

<div class="description" id="description">
  <p>This video highlights the progress TEDx has made over the past 7 months and was shown at TEDIndia in Mysore, India on November 4, 2009.</p>
</div>
