<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>TEDx Instant</title>
    <meta property="og:image"content="http://talks.tk/img/tedxinstant.png" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="description" content="There are an increasing number of TEDx talks, most of them undiscoverable. TEDxInstant lets you discover, consume and share the talks that you could otherwise have never known. Think TEDxtalks. Think Youtube. Think Google Instant." />
    <link rel="stylesheet" href="/css/style.css" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="/js/lettering.js"></script>
    <script type="text/javascript" src="/js/swfobject.js"></script>
    <script type="text/javascript" src="/js/linker.js"></script>
    <script src="http://www.google.com/jsapi" type="text/javascript"></script>
    <script type="text/javascript">
      google.load("swfobject", "2.1");
    </script>
    <script type="text/javascript" src="/js/tedx_instant.js"></script>
    <!-- Google Analytics -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-32357469-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <!-- Facebook share -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=398273206881757";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>
  </head>
  <img src="/img/tedx.png" style="display: none;" />
  <body>
    <div id="logo" align="center">
      <h1>TEDx Instant</h1>
    </div>
      <%= yield %>
    </div>
    <footer>
      <p>-</p>
      <p>Made with love in a weekend by <a href="http://twitter.com/cggaurav">@cggaurav</a>, and a special callout to <a href="http://twitter.com/grimen">@grimen</a>. Any feedback via tweets appreciated.</p>
    </footer>
    <div style="text-align:center">
      <div>
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://talks.tk" data-text="Making the TEDx talks more discoverable!" data-via="cggaurav" data-hashtags="tedxtalks">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
      <div class="fb-like" data-href="http://talks.tk" data-send="true" data-width="450" data-show-faces="true" data-action="recommend" data-font="arial">
      </div>
    </div>
  </body>

</html>